@tailwind base;
@tailwind components;
@tailwind utilities;

.no-tailwind * {
  all: revert;
}

html,
body {
  background: #181427;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  @apply rounded;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #382e5a;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background-color:  #705eaf;
  border-radius: 10px;
}